.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 10px;
  margin-bottom: var(--metricL);
}

.tipInput {
  width: 150px;
}

.tipInput::placeholder {
  text-align: center;
}

@media (min-width: 764px) {
  .tipInput {
    width: 120px;
  }
}

@media (min-width: 548px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
